@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@theme {
  --color-primary-100: #edf4f6;
  --color-primary-200: #d8e8e8;
  --color-primary-400: #b3cbcd;
  --color-primary-600: #8bb0b7;
  --color-primary-800: #4a6465;
  --color-primary-1000: #313e40;

  --color-success: #b1dfca;
  --color-danger: #f48282;
  --color-warning: #f5e6a8;
  --color-info: #82b4f4;

  --color-white: #ffffff;
  --color-gray-100: #f2f2f2;
  --color-gray-200: #d4d4d4;
  --color-gray-400: #939393;
  --color-gray-500: #5b5b5b;
  --color-gray-600: #333333;
  --color-gray-1000: #212121;

  --color-background-1: #e2e2e2;

  --font-noto-sans: var(--font-noto-sans);
  --font-noto-serif: var(--font-noto-serif);

  --background-image-logo-light: url("/images/logo-light.svg");
  --background-image-logo-dark: url("/images/logo-dark.svg");
}

/* Dark-mode style */
@layer theme {
  .dark {
    --color-primary-100: #1b2426;
    --color-primary-200: #273538;
    --color-primary-400: #3e5458;
    --color-primary-600: #6a8b90;
    --color-primary-800: #a2c3c7;
    --color-primary-1000: #e1f0f2;

    --color-success: #68b998;
    --color-danger: #e57373;
    --color-warning: #d9c56f;
    --color-info: #5a9ee8;

    --color-white: #121212;
    --color-gray-100: #1e1e1e;
    --color-gray-200: #2c2c2c;
    --color-gray-400: #666666;
    --color-gray-500: #9e9e9e;
    --color-gray-600: #d1d1d1;
    --color-gray-1000: #f5f5f5;

    --color-background-1: #121212;
  }
}

@layer base {
  body {
    @apply text-primary-1000 bg-background-1 font-noto-sans leading-normal text-base transition-colors duration-300 ease-in-out;
  }
  img {
    @apply block max-w-full h-auto;
  }
  svg {
    @apply fill-current;
  }
  input {
    @apply accent-primary-600 caret-primary-800;
  }
  textarea {
    @apply resize-none;
  }

  /* Theme transition: animate commonly-changing properties for smooth theme switch */
  html,
  body,
  #__next,
  .dark {
    transition-property: background-color, color, border-color, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }

  /* Respect user preference for reduced motion */
  @media (prefers-reduced-motion: reduce) {
    html,
    body,
    #__next,
    .dark {
      transition: none !important;
      animation: none !important;
    }
  }
}

/* Typography */
@utility h1-bold {
  @apply font-noto-serif text-[4rem] leading-[1.2] tracking-[0.16em] font-bold;
}
@utility h2-bold {
  @apply font-noto-serif text-[2rem] leading-[1.2] tracking-[0.14em] font-bold;
}
@utility h3-bold {
  @apply font-noto-serif text-[1.75rem] leading-[1.2] tracking-[0.13em] font-bold;
}
@utility h4-bold {
  @apply font-noto-serif text-2xl leading-[1.2] tracking-[0.12em] font-bold;
}
@utility h5-regular {
  @apply text-xl tracking-widest;
}
@utility h6-regular {
  @apply text-base tracking-[0.09em];
}
@utility text-l-bold {
  @apply h5-regular font-bold;
}
@utility text-m-bold {
  @apply h6-regular font-bold;
}
@utility text-s-bold {
  @apply text-sm tracking-[0.07em] font-bold;
}
@utility label-bold {
  @apply text-xs tracking-[0.12em] font-bold;
}

/* ----------- */

/* btn */
@utility btn {
  @apply cursor-pointer transition-colors text-gray-500 border-2 border-gray-500 bg-transparent rounded-full hover:text-white hover:bg-gray-600 focus:border-[3px] focus:border-gray-400 focus:text-gray-500 focus:bg-transparent disabled:text-gray-200 disabled:border-gray-200 disabled:cursor-not-allowed disabled:pointer-events-none;
}
@utility btn-dark {
  @apply text-gray-100  border-gray-100 rounded-full hover:text-gray-600 hover:bg-gray-100 focus:border-[3px] focus:border-gray-200 focus:text-gray-100 focus:bg-transparent disabled:text-gray-400 disabled:border-gray-400;
}
@utility btn-cta {
  @apply py-4 px-17 text-l-bold;
}
@utility btn-large {
  @apply py-3 px-7 text-l-bold;
}
@utility btn-medium {
  @apply py-3 px-7 text-m-bold;
}
@utility btn-small {
  @apply py-3 px-6 text-s-bold;
}

@utility btn-icon {
  --backdrop-default: rgba(242, 242, 242, 0.3);
  --backdrop-disabled: rgba(91, 91, 91, 0.3);
  @apply cursor-pointer transition-colors p-3 rounded-full text-gray-100 border-2 border-gray-100 bg-(--backdrop-default) hover:text-gray-500 hover:bg-gray-100 focus:text-gray-100 focus:border-primary-400 disabled:border-gray-200 disabled:text-gray-200 disabled:bg-(--backdrop-disabled) disabled:cursor-not-allowed disabled:pointer-events-none;
}

@utility link {
  @apply cursor-pointer transition-colors text-gray-500 hover:text-primary-600 active:text-primary-600 focus:text-gray-500 focus:border focus:border-dashed border-primary-400 disabled:text-gray-200 disabled:cursor-not-allowed disabled:pointer-events-none;
}
@utility link-large {
  @apply text-l-bold py-2 px-3;
}
@utility link-medium {
  @apply text-m-bold py-1 px-2;
}
@utility form-link {
  @apply cursor-pointer transition-colors py-1 px-2 text-primary-800 underline hover:text-primary-600 focus:text-primary-800 focus:border focus:border-dashed disabled:text-gray-200 disabled:cursor-not-allowed disabled:pointer-events-none;
}

/* flex */
@utility flex-center {
  @apply flex justify-center items-center;
}
@utility flex-between {
  @apply flex justify-between items-center;
}
@utility flex-start {
  @apply flex justify-start items-center;
}

/* * 🚿 shadcn style ↓↓ */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
