@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary-100: #edf4f6;
  --color-primary-200: #d8e8e8;
  --color-primary-400: #b3cbcd;
  --color-primary-600: #8bb0b7;
  --color-primary-800: #4a6465;
  --color-primary-1000: #313e40;

  --color-success: #b1dfca;
  --color-danger: #f48282;
  --color-warning: #f5e6a8;
  --color-info: #82b4f4;

  --color-white: #ffffff;
  --color-gray-100: #f2f2f2;
  --color-gray-200: #d4d4d4;
  --color-gray-400: #939393;
  --color-gray-500: #5b5b5b;
  --color-gray-600: #333333;
  --color-gray-1000: #212121;

  --color-background-light: #e2e2e2;

  --font-noto-sans: var(--font-noto-sans);
  --font-noto-serif: var(--font-noto-serif);
}

@layer base {
  body {
    @apply text-primary-1000 font-noto-sans leading-normal text-base;
  }
  img {
    @apply block max-w-full h-auto;
  }
  input {
    @apply accent-primary-600 caret-primary-800;
  }
  textarea {
    @apply resize-none;
  }
}

/* Typography */
@utility h1-bold {
  @apply font-noto-serif text-[4rem] leading-[1.2] tracking-[0.16em] font-bold;
}
@utility h2-bold {
  @apply font-noto-serif text-[2rem] leading-[1.2] tracking-[0.14em] font-bold;
}
@utility h3-bold {
  @apply font-noto-serif text-[1.75rem] leading-[1.2] tracking-[0.13em] font-bold;
}
@utility h4-bold {
  @apply font-noto-serif text-2xl leading-[1.2] tracking-[0.12em] font-bold;
}
@utility h5-regular {
  @apply text-xl tracking-widest;
}
@utility h6-regular {
  @apply text-base tracking-[0.09em];
}
@utility text-l-bold {
  @apply h5-regular font-bold;
}
@utility text-m-bold {
  @apply h6-regular font-bold;
}
@utility text-s-bold {
  @apply text-sm tracking-[0.07em] font-bold;
}
@utility label-bold {
  @apply text-xs tracking-[0.12em] font-bold;
}

/* ----------- */

/* btn */
@utility btn {
  @apply cursor-pointer transition-colors text-gray-500 border-2 border-gray-500 bg-transparent rounded-full hover:text-white hover:bg-gray-600 focus:border-[3px] focus:border-gray-400 focus:text-gray-500 focus:bg-transparent disabled:text-gray-200 disabled:border-gray-200 disabled:cursor-not-allowed disabled:pointer-events-none;
}
@utility btn-dark {
  @apply text-gray-100  border-gray-100 rounded-full hover:text-gray-600 hover:bg-gray-100 focus:border-[3px] focus:border-gray-200 focus:text-gray-100 focus:bg-transparent disabled:text-gray-400 disabled:border-gray-400;
}
@utility btn-cta {
  @apply py-4 px-17 text-l-bold;
}
@utility btn-large {
  @apply py-3 px-7 text-l-bold;
}
@utility btn-medium {
  @apply py-3 px-7 text-m-bold;
}
@utility btn-small {
  @apply py-3 px-6 text-s-bold;
}

@utility btn-icon {
  --backdrop-default: rgba(242, 242, 242, 0.3);
  --backdrop-disabled: rgba(91, 91, 91, 0.3);
  @apply cursor-pointer transition-colors p-3 rounded-full text-gray-100 border-2 border-gray-100 bg-(--backdrop-default) hover:text-gray-500 hover:bg-gray-100 focus:text-gray-100 focus:border-primary-400 disabled:border-gray-200 disabled:text-gray-200 disabled:bg-(--backdrop-disabled) disabled:cursor-not-allowed disabled:pointer-events-none;
}

@utility link {
  @apply cursor-pointer transition-colors text-gray-500 hover:text-primary-600 active:text-primary-600 focus:text-gray-500 focus:border focus:border-dashed border-primary-400 disabled:text-gray-200 disabled:cursor-not-allowed disabled:pointer-events-none;
}
@utility link-large {
  @apply text-l-bold py-2 px-3;
}
@utility link-medium {
  @apply text-m-bold py-1 px-2;
}
@utility form-link {
  @apply cursor-pointer transition-colors py-1 px-2 text-primary-800 underline hover:text-primary-600 focus:text-primary-800 focus:border focus:border-dashed disabled:text-gray-200 disabled:cursor-not-allowed disabled:pointer-events-none;
}

/* flex */
@utility flex-center {
  @apply flex justify-center items-center;
}
@utility flex-between {
  @apply flex justify-between items-center;
}
@utility flex-start {
  @apply flex justify-start items-center;
}
